<section class="no-padding" id="the-team">
  <div class="container-fluid">
    <!-- Pair 1 -->
    <div class="row no-gutter">
      <div class="col-md-6 col-sm-12">
        <a href="#" class="portfolio-box">
          <img
            src="img/candidates/placeholder-face.jpg"
            class="img-responsive"
            alt="TODO"
          />
        </a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="service-box">
          <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
          <h3>Tim Kurtz - Unit Chair</h3>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            euismod tincidunt est vitae sodales. Sed in tellus in lacus euismod
            mollis. Quisque quis turpis dignissim augue imperdiet porta. Proin
            consectetur a lorem sit amet porttitor. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Maecenas vitae erat a ante varius
            tristique quis suscipit velit. Sed placerat erat ante, in euismod
            massa varius in. Phasellus justo mi, eleifend tincidunt dui et,
            lacinia ultricies nisl. Suspendisse viverra ut dolor in pulvinar.
            Sed a quam posuere, lacinia neque non, facilisis turpis. Nunc porta
            dolor hendrerit erat lacinia posuere. Donec bibendum dignissim orci,
            eget blandit tortor tempus ut. Phasellus nec odio blandit, tincidunt
            erat at, mollis quam.
          </p>
        </div>
      </div>
    </div>

    <!-- Pair 2 -->
    <div class="row no-gutter">
      <div class="col-md-6 col-sm-12">
        <a href="#" class="portfolio-box">
          <img
            src="img/candidates/placeholder-face.jpg"
            class="img-responsive"
            alt="TODO"
          />
        </a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="service-box">
          <h3>Michelle Esposito - Vice Chair</h3>
          <p class="text-muted">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
            euismod tincidunt est vitae sodales. Sed in tellus in lacus euismod
            mollis. Quisque quis turpis dignissim augue imperdiet porta. Proin
            consectetur a lorem sit amet porttitor. Lorem ipsum dolor sit amet,
            consectetur adipiscing elit. Maecenas vitae erat a ante varius
            tristique quis suscipit velit. Sed placerat erat ante, in euismod
            massa varius in. Phasellus justo mi, eleifend tincidunt dui et,
            lacinia ultricies nisl. Suspendisse viverra ut dolor in pulvinar.
            Sed a quam posuere, lacinia neque non, facilisis turpis. Nunc porta
            dolor hendrerit erat lacinia posuere. Donec bibendum dignissim orci,
            eget blandit tortor tempus ut. Phasellus nec odio blandit, tincidunt
            erat at, mollis quam.
          </p>
        </div>
      </div>
    </div>

    <!-- Pair 3 -->
    <div class="row no-gutter">
      <div class="col-md-6 col-sm-12">
        <a href="#" class="portfolio-box">
          <img
            src="img/candidates/placeholder-face.jpg"
            class="img-responsive"
            alt=""
          />
        </a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="service-box">
          <h3>Vicki Crosson for Secretary</h3>
          <h4>Sr Engineer in DevP - Remote from Boston</h4>

          <p>
            I've been a union organizer since 2019, going back to the olden days 
            when it was a secret! With experience as a shop steward, the
            current unit secretary, a member of the past bargaining committee,
            and an officer at our Local (NYGuild), I've seen all sides of
            building our power (and learned a lot along the way!) I'm running
            for unit secretary again to ensure that every member's voice is
            heard.
          </p>

          <p>My priorities include:</p>
          <ul>
            <li>
                Empowering members to get involved, in whatever way you can
            </li>
            <li>
                Seeking your input, to drive our actions
            </li>            
            <li>
                Keeping resources organized and available to anyone who needs them
            </li>
            <li>
                Making sure <em>you</em> have a home in <em>your union!</em>
            </li>
          </ul>

          <p>
            Outside of our unit, I'm active with my town's Disability
            Commission, served as NewsGuild representative to the CWA
            Accessibility Working group, and speak about the intersection of
            disability justice and labor whenever I can. I also like quilting, 
            and I have 2 cats: Roger Roger & Maz.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
