<section class="no-padding" id="portfolio">
  <div class="container-fluid">

    <!-- Pair 1 -->
    <div class="row no-gutter">
      <div class="col-md-6 col-sm-12">
        <a href="#" class="portfolio-box">
          <img src="img/candidates/placeholder-face.jpg" class="img-responsive" alt="TODO">
        </a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="service-box">
            <!-- <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i> -->
            <h3>Tim Kurtz - Unit Chair</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod tincidunt est vitae sodales. Sed in tellus in lacus euismod mollis. Quisque quis turpis dignissim augue imperdiet porta. Proin consectetur a lorem sit amet porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae erat a ante varius tristique quis suscipit velit. Sed placerat erat ante, in euismod massa varius in. Phasellus justo mi, eleifend tincidunt dui et, lacinia ultricies nisl. Suspendisse viverra ut dolor in pulvinar. Sed a quam posuere, lacinia neque non, facilisis turpis. Nunc porta dolor hendrerit erat lacinia posuere. Donec bibendum dignissim orci, eget blandit tortor tempus ut. Phasellus nec odio blandit, tincidunt erat at, mollis quam.</p>
        </div>
      </div>
    </div>

    <!-- Pair 2 -->
    <div class="row no-gutter">
      <div class="col-md-6 col-sm-12">
        <a href="#" class="portfolio-box">
          <img src="img/candidates/placeholder-face.jpg" class="img-responsive" alt="TODO">
        </a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="service-box">
            <h3>Michelle Esposito - Vice Chair</h3>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod tincidunt est vitae sodales. Sed in tellus in lacus euismod mollis. Quisque quis turpis dignissim augue imperdiet porta. Proin consectetur a lorem sit amet porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae erat a ante varius tristique quis suscipit velit. Sed placerat erat ante, in euismod massa varius in. Phasellus justo mi, eleifend tincidunt dui et, lacinia ultricies nisl. Suspendisse viverra ut dolor in pulvinar. Sed a quam posuere, lacinia neque non, facilisis turpis. Nunc porta dolor hendrerit erat lacinia posuere. Donec bibendum dignissim orci, eget blandit tortor tempus ut. Phasellus nec odio blandit, tincidunt erat at, mollis quam.</p>
        </div>
      </div>
    </div>

    <!-- Pair 3 -->
    <div class="row no-gutter">
      <div class="col-md-6 col-sm-12">
        <a href="#" class="portfolio-box">
          <img src="img/candidates/placeholder-face.jpg" class="img-responsive" alt="">
        </a>
      </div>
      <div class="col-md-6 col-sm-12">
        <div class="service-box">
            <h3>Vicki Crosson - Secretary</h3>
            <ul>
                <li class="text-muted">Apple</li>
                <li>Banana</li>
                <li>Orange</li>
                <li>Grapes</li>
            </ul>
            <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam euismod tincidunt est vitae sodales. Sed in tellus in lacus euismod mollis. Quisque quis turpis dignissim augue imperdiet porta. Proin consectetur a lorem sit amet porttitor. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas vitae erat a ante varius tristique quis suscipit velit. Sed placerat erat ante, in euismod massa varius in. Phasellus justo mi, eleifend tincidunt dui et, lacinia ultricies nisl. Suspendisse viverra ut dolor in pulvinar. Sed a quam posuere, lacinia neque non, facilisis turpis. Nunc porta dolor hendrerit erat lacinia posuere. Donec bibendum dignissim orci, eget blandit tortor tempus ut. Phasellus nec odio blandit, tincidunt erat at, mollis quam.</p>
        </div>
      </div>
    </div>

  </div>
</section>
