<section id="unit-chair" class="no-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center chair-header">
                <h2 class="section-heading">Timothy Kurtz - A Unit Chair for All</h2>
                <hr class="primary">
            </div>
        </div>

        <!-- Candidate Profile -->
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2 col-md-5 col-md-offset-1 text-center chair-profile-image">
                <img src="img/candidates/placeholder-face.jpg" class="img-responsive chair-image" alt="Timothy Kurtz" />
            </div>
            <div class="col-lg-4 col-md-5 chair-profile-text">
                <div class="service-box">
                    <p class="text-muted">
                        Lorem ipsum dolor sit amet, ea veri nobis vivendum cum, his apeirian ocurreret id, homero fastidii eam ei. Ex probatus forensibus vix. Usu mollis torquatos an, verear moderatius an nam,
                        eos summo errem percipit an. Nec debet clita facete te, his solet urbanitas te.
                    </p>
                    <p class="text-muted">
                        Ei mei eros placerat concludaturque, mei eu inani vitae pertinacia. In nec tation inciderint. Et
                        libris reprimique vel, epicurei persecuti concludaturque nam id. Nusquam apeirian rationibus
                        eam at. Ponderum intellegam sea ei, pro veniam altera viderer et, legendos quaerendum duo
                        cu. Qui ut quem quidam nominavi, periculis explicari ei est.
                    </p>
                </div>
            </div>
        </div>

        <!-- Full Width Platform Details -->
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <hr class="primary">
                <h3 class="text-center" style="margin-bottom: 25px;">Here's what I'll bring to our leadership</h3>

                <h4><strong>Transparency and Communication</strong></h4>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, ridens ornatus qui in, mei errem recusabo accommodare ad.
                    Nostrum quaerendum cum te, ei alterum deserunt mei, vix autem atqui utinam ut. In altera
                    putant euismod has. Etiam oratio tollit ei duo. Erat molestie apeirian mei et, eam labitur
                    repudiare persequeris ex, ne ius animal utamur. Eu malis oporteat sit, cum id euismod labores.
                </p>
                <p class="text-muted">
                    Unum debitis cum eu, ad singulis platonem moderatius duo. Vim eu probo minim constituam,
                    nec ei cibo noluisse, usu nostrud laoreet id. Nostrum luptatum constituto sed ea, an mutat choro
                    commune mei, ex principes democritum voluptatum pri.
                </p>

                <h4><strong>A Steward Network to Empower Members</strong></h4>
                <p class="text-muted">
                    Lorem ipsum dolor sit amet, mundi latine no eos. Ex duo iudico perfecto. Ne minimum detracto
                    hendrerit quo, amet zril voluptatum quo ea, nam an nemore repudiare disputationi. Mucius
                    feugait docendi ius id, percipit salutatus et eum. An decore regione neglegentur mei.
                </p>
                <p class="text-muted">
                    At nec fugit clita periculis, an ignota semper erroribus pri, quot suavitate moderatius pri ad. Vis ex
                    summo equidem accommodare, latine nominavi te vix. Falli viris qualisque vix ei.
                </p>

                <h4><strong>Member-Led Bargaining</strong></h4>
                <p class="text-muted">
                    Sit id inani nusquam, id dictas oportere per. At oratio inciderint est, no repudiare liberavisse usu,
                    vis ornatus reprimique ei. Ex admodum disputando nec. Eu sit oporteat lucilius. Nibh laudem ex
                    sea, vel ne nobis essent recteque, sed no aeterno malorum fastidii. No sed discere laoreet, vim
                    dicant cetero ad.
                </p>

            </div>
        </div>
    </div>

    <!-- Experience Section -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <hr class="primary">
            <h3 class="text-center experience-section-header">Here's what I've already done and what I'll keep building on:</h3>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 experience-card">
                    <!-- <h4><i class="fa fa-users text-primary"></i> Transparency and Communication</h4> -->
                    <p class="text-muted">
                        Erat molestie apeirian mei et, eam labitur
                        repudiare persequeris ex, ne ius animal utamur. Eu malis oporteat sit, cum id euismod labores.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 experience-card">
                    <!-- <h4><i class="fa fa-handshake-o text-primary"></i> A Steward Network to Empower Members</h4> -->
                    <p class="text-muted">
                        At nec fugit clita periculis, an ignota semper erroribus pri, quot suavitate moderatius pri ad.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-12 experience-card experience-card-last">
                    <!-- <h4><i class="fa fa-cogs text-primary"></i> Member-Led Bargaining</h4> -->
                    <p class="text-muted">
                        Sit id inani nusquam, id dictas oportere per. At oratio inciderint est, no repudiare liberavisse usu, vis ornatus reprimique ei. Ex admodum disputando nec.
                    </p>
                </div>
            </div>


        </div>
    </div>

    <!-- Experience Section (Duplicate) -->
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <hr class="primary">
            <h3 class="text-center experience-section-header">Here's what I've already done and what I'll keep building on:</h3>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12 experience-card">
                    <!-- <h4><i class="fa fa-users text-primary"></i> Transparency and Communication</h4> -->
                    <p class="text-muted">
                        Erat molestie apeirian mei et, eam labitur
                        repudiare persequeris ex, ne ius animal utamur. Eu malis oporteat sit, cum id euismod labores.
                    </p>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 experience-card">
                    <!-- <h4><i class="fa fa-handshake-o text-primary"></i> A Steward Network to Empower Members</h4> -->
                    <p class="text-muted">
                        At nec fugit clita periculis, an ignota semper erroribus pri, quot suavitate moderatius pri ad.
                    </p>
                </div>
                <div class="col-lg-4 col-lg-offset-0 col-md-6 col-md-offset-3 col-sm-12 experience-card experience-card-last">
                    <!-- <h4><i class="fa fa-cogs text-primary"></i> Member-Led Bargaining</h4> -->
                    <p class="text-muted">
                        Sit id inani nusquam, id dictas oportere per. At oratio inciderint est, no repudiare liberavisse usu, vis ornatus reprimique ei. Ex admodum disputando nec.
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div style="padding-bottom: 50px;"></div>
</section>