<section id="endorsements">
  <div class="container">
    <div class="row endorsements-grid">
      <div class="col-12 text-center">
        <h2 class="section-heading">Endorsements</h2>
        <hr class="primary">
      </div>
    </div>

    <!-- Pair 1 -->
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-comment wow bounceIn text-primary"></i>
          <h3>John Smith, Principal Engineer</h3>
          <p class="text-muted">They made this cool site even though they're not front-end devs! You should be really proud of them but also feel free to give feedback because this was very hard..</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-exclamation wow bounceIn text-primary" data-wow-delay=".1s"></i>
          <h3>Ida Noh, Designer, The Athletic</h3>
          <p class="text-muted">Third base!</p>
        </div>
      </div>
    </div>

    <!-- Pair 2 -->
    <div class="row">
      <div class="col-md-6 col-sm-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-cutlery wow bounceIn text-primary" data-wow-delay=".2s"></i>
          <h3>Spiders Georg, Data Analyst</h3>
          <p class="text-muted">They promised me spiders!</p>
        </div>
      </div>
      <div class="col-md-6 col-sm-12 text-center">
        <div class="service-box">
          <i class="fa fa-4x fa-laptop text-primary" data-wow-delay=".3s"></i>
          <h3>Dewey, Cheetham, & Howe</h3>
          <p class="text-muted">Don't code like my brother.</p>
        </div>
      </div>
    </div>
  </div>
</section>
