<section id="favorite-people">
    <div class="container">
        <!-- Section Header -->
        <div class="row">
            <div class="col-12 text-center">
                <hr class="primary">
                <h2 class="section-heading">Community Voices</h2>
            </div>
        </div>

        <!-- Carousel Container -->
        <div class="row">
            <div class="col-lg-12 text-center">

                <!-- Desktop Carousel: 3 testimonials per page -->
                <div id="carouselDesktop" class="carousel slide desktop-carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselDesktop" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselDesktop" data-slide-to="1"></li>
                        <li data-target="#carouselDesktop" data-slide-to="2"></li>
                    </ol>

                    <!-- Slides -->
                    <div class="carousel-inner">
                        <!-- Page 1: Slides 1-3 -->
                        <div class="item active">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="testimonial-card text-center">
                                        <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person One">
                                        <blockquote class="testimonial-quote">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."</p>
                                            <footer class="testimonial-author">- Person One</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="testimonial-card text-center">
                                        <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Two">
                                        <blockquote class="testimonial-quote">
                                            <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident."</p>
                                            <footer class="testimonial-author">- Person Two</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="testimonial-card text-center">
                                        <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Three">
                                        <blockquote class="testimonial-quote">
                                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo."</p>
                                            <footer class="testimonial-author">- Person Three</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Page 2: Slides 4-6 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="testimonial-card text-center">
                                        <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Four">
                                        <blockquote class="testimonial-quote">
                                            <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                                            <footer class="testimonial-author">- Person Four</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="testimonial-card text-center">
                                        <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Five">
                                        <blockquote class="testimonial-quote">
                                            <p>"Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                                            <footer class="testimonial-author">- Person Five</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="testimonial-card text-center">
                                        <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Six">
                                        <blockquote class="testimonial-quote">
                                            <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
                                            <footer class="testimonial-author">- Person Six</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Page 3: Slides 7-9 -->
                        <div class="item">
                            <div class="row">
                                <div class="col-lg-4 col-md-4">
                                    <div class="testimonial-card text-center">
                                        <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Seven">
                                        <blockquote class="testimonial-quote">
                                            <p>"Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                            <footer class="testimonial-author">- Person Seven</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="testimonial-card text-center">
                                        <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Eight">
                                        <blockquote class="testimonial-quote">
                                            <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                                            <footer class="testimonial-author">- Person Eight</footer>
                                        </blockquote>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-4">
                                    <div class="testimonial-card text-center">
                                        <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Nine">
                                        <blockquote class="testimonial-quote">
                                            <p>"Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt."</p>
                                            <footer class="testimonial-author">- Person Nine</footer>
                                        </blockquote>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Navigation Controls -->
                    <a class="carousel-control left" href="#carouselDesktop" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control right" href="#carouselDesktop" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

                <!-- Mobile Carousel: 1 testimonial per page -->
                <div id="carouselMobile" class="carousel slide mobile-carousel">
                    <!-- Indicators -->
                    <ol class="carousel-indicators">
                        <li data-target="#carouselMobile" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselMobile" data-slide-to="1"></li>
                        <li data-target="#carouselMobile" data-slide-to="2"></li>
                        <li data-target="#carouselMobile" data-slide-to="3"></li>
                        <li data-target="#carouselMobile" data-slide-to="4"></li>
                        <li data-target="#carouselMobile" data-slide-to="5"></li>
                        <li data-target="#carouselMobile" data-slide-to="6"></li>
                        <li data-target="#carouselMobile" data-slide-to="7"></li>
                        <li data-target="#carouselMobile" data-slide-to="8"></li>
                    </ol>

                    <!-- Slides -->
                    <div class="carousel-inner">
                        <!-- Individual testimonials -->
                        <div class="item active">
                            <div class="testimonial-card text-center">
                                <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person One">
                                <blockquote class="testimonial-quote">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam."</p>
                                    <footer class="testimonial-author">- Person One</footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-card text-center">
                                <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Two">
                                <blockquote class="testimonial-quote">
                                    <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident."</p>
                                    <footer class="testimonial-author">- Person Two</footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-card text-center">
                                <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Three">
                                <blockquote class="testimonial-quote">
                                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa quae ab illo."</p>
                                    <footer class="testimonial-author">- Person Three</footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-card text-center">
                                <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Four">
                                <blockquote class="testimonial-quote">
                                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                                    <footer class="testimonial-author">- Person Four</footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-card text-center">
                                <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Five">
                                <blockquote class="testimonial-quote">
                                    <p>"Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."</p>
                                    <footer class="testimonial-author">- Person Five</footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-card text-center">
                                <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Six">
                                <blockquote class="testimonial-quote">
                                    <p>"Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur."</p>
                                    <footer class="testimonial-author">- Person Six</footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-card text-center">
                                <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Seven">
                                <blockquote class="testimonial-quote">
                                    <p>"Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                    <footer class="testimonial-author">- Person Seven</footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-card text-center">
                                <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Eight">
                                <blockquote class="testimonial-quote">
                                    <p>"Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium."</p>
                                    <footer class="testimonial-author">- Person Eight</footer>
                                </blockquote>
                            </div>
                        </div>
                        <div class="item">
                            <div class="testimonial-card text-center">
                                <img class="testimonial-image center-block" src="img/candidates/placeholder-face.jpg" alt="Person Nine">
                                <blockquote class="testimonial-quote">
                                    <p>"Totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt."</p>
                                    <footer class="testimonial-author">- Person Nine</footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>


                    <!-- Navigation Controls -->
                    <a class="carousel-control left" href="#carouselMobile" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control right" href="#carouselMobile" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>

            </div>
        </div>
    </div>

    <!-- Random Start Script -->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            // Generate random starting slides
            var desktopRandomSlide = Math.floor(Math.random() * 3); // 0-2 for desktop (3 pages)
            var mobileRandomSlide = Math.floor(Math.random() * 9); // 0-8 for mobile (9 slides)

            // Desktop carousel setup
            var desktopCarousel = document.getElementById('carouselDesktop');
            if (desktopCarousel) {
                // Remove all active classes first
                var desktopItems = desktopCarousel.querySelectorAll('.carousel-inner .item');
                var desktopIndicators = desktopCarousel.querySelectorAll('.carousel-indicators li');

                desktopItems.forEach(function(item) {
                    item.classList.remove('active');
                });
                desktopIndicators.forEach(function(indicator) {
                    indicator.classList.remove('active');
                });

                // Set random slide as active
                if (desktopItems[desktopRandomSlide]) {
                    desktopItems[desktopRandomSlide].classList.add('active');
                }
                if (desktopIndicators[desktopRandomSlide]) {
                    desktopIndicators[desktopRandomSlide].classList.add('active');
                }
            }

            // Mobile carousel setup
            var mobileCarousel = document.getElementById('carouselMobile');
            if (mobileCarousel) {
                // Remove all active classes first
                var mobileItems = mobileCarousel.querySelectorAll('.carousel-inner .item');
                var mobileIndicators = mobileCarousel.querySelectorAll('.carousel-indicators li');

                mobileItems.forEach(function(item) {
                    item.classList.remove('active');
                });
                mobileIndicators.forEach(function(indicator) {
                    indicator.classList.remove('active');
                });

                // Set random slide as active
                if (mobileItems[mobileRandomSlide]) {
                    mobileItems[mobileRandomSlide].classList.add('active');
                }
                if (mobileIndicators[mobileRandomSlide]) {
                    mobileIndicators[mobileRandomSlide].classList.add('active');
                }
            }
        });
    </script>
</section>