<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Timothy Kurtz - A Unit Chair for All</h2>
                <hr class="light">
                <div class="text-left" style="margin-top: 30px;">
                    <p class="text-faded">
                        Lorem ipsum dolor sit amet, ea veri nobis vivendum cum, his apeirian ocurreret id, homero
                        fastidii eam ei. Ex probatus forensibus vix. Usu mollis torquatos an, verear moderatius an nam,
                        eos summo errem percipit an. Nec debet clita facete te, his solet urbanitas te. Ea molestie
                        conclusionemque quo. His labore fabulas id, vivendum reprehendunt at vis, ius in probo partem.
                        In usu zril ignota, qui omnium fabulas ex.
                    </p>
                    
                    <p class="text-faded">
                        Ei mei eros placerat concludaturque, mei eu inani vitae pertinacia. In nec tation inciderint. Et
                        libris reprimique vel, epicurei persecuti concludaturque nam id. Nusquam apeirian rationibus
                        eam at. Ponderum intellegam sea ei, pro veniam altera viderer et, legendos quaerendum duo
                        cu. Qui ut quem quidam nominavi, periculis explicari ei est.
                    </p>

                    <h3 class="text-faded"><strong>Here's what I'll bring to our leadership</strong></h3>
                    
                    <h4 class="text-faded"><strong>Transparency and Communication</strong></h4>
                    <p class="text-faded">
                        Lorem ipsum dolor sit amet, ridens ornatus qui in, mei errem recusabo accommodare ad.
                        Nostrum quaerendum cum te, ei alterum deserunt mei, vix autem atqui utinam ut. In altera
                        putant euismod has. Etiam oratio tollit ei duo. Erat molestie apeirian mei et, eam labitur
                        repudiare persequeris ex, ne ius animal utamur. Eu malis oporteat sit, cum id euismod labores.
                    </p>
                    <p class="text-faded">
                        Unum debitis cum eu, ad singulis platonem moderatius duo. Vim eu probo minim constituam,
                        nec ei cibo noluisse, usu nostrud laoreet id. Nostrum luptatum constituto sed ea, an mutat choro
                        commune mei, ex principes democritum voluptatum pri. Ad vel habemus oporteat deseruisse,
                        per ne labores delicatissimi, mea doming epicurei ne. His an liber facilisi.
                    </p>

                    <h4 class="text-faded"><strong>A Steward Network to Empower Members</strong></h4>
                    <p class="text-faded">
                        Lorem ipsum dolor sit amet, mundi latine no eos. Ex duo iudico perfecto. Ne minimum detracto
                        hendrerit quo, amet zril voluptatum quo ea, nam an nemore repudiare disputationi. Mucius
                        feugait docendi ius id, percipit salutatus et eum. An decore regione neglegentur mei. In omnium
                        bonorum imperdiet sed, mei ferri eligendi at. Liber iusto per et. Quo suas accumsan et.
                    </p>
                    <p class="text-faded">
                        At nec fugit clita periculis, an ignota semper erroribus pri, quot suavitate moderatius pri ad. Vis ex
                        summo equidem accommodare, latine nominavi te vix. Falli viris qualisque vix ei. Vel at natum
                        fastidii, per at graecis reprehendunt. Veniam indoctum convenire te duo.
                    </p>

                    <h4 class="text-faded"><strong>Member-Led Bargaining</strong></h4>
                    <p class="text-faded">
                        Sit id inani nusquam, id dictas oportere per. At oratio inciderint est, no repudiare liberavisse usu,
                        vis ornatus reprimique ei. Ex admodum disputando nec. Eu sit oporteat lucilius. Nibh laudem ex
                        sea, vel ne nobis essent recteque, sed no aeterno malorum fastidii. No sed discere laoreet, vim
                        dicant cetero ad.
                    </p>

                    <h3 class="text-faded"><strong>Key Commitments</strong></h3>
                    <ul class="text-faded">
                        <li>Id qualisque rationibus sea. Nulla labore omnesque ut vel.</li>
                        <li>Mucius dolorem aliquando cu mei. Oratio prodesset argumentum eam te, ad mei facete labitur tacimates.</li>
                        <li>Te nostro doctus his, at mei enim altera sadipscing, no vocibus nominavi perpetua nec.</li>
                        <li>Lorem ipsum dolor sit amet Te duo tation antiopam volutpat, sea ut rebum noluisse sapientem.</li>
                    </ul>

                    <h3 class="text-faded"><strong>Our Shared Vision</strong></h3>
                    <p class="text-faded">
                        In mei tantas primis. Pri id dignissim definitionem. Eam te primis eleifend liberavisse, cu sit dolor
                        dissentiunt. Usu fabulas luptatum efficiantur no. Cu mutat detracto vel, wisi etiam iudicabit duo eu.
                    </p>
                    
                    <p class="text-faded"><strong>In solidarity,<br/>Timothy Kurtz<br/>Candidate for Unit Chair</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
