<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
            <h3 class="text-faded"><strong>Our Shared Vision</strong></h3>
            <p class="text-faded">
                In mei tantas primis. Pri id dignissim definitionem. Eam te primis eleifend liberavisse, cu sit dolor
                dissentiunt. Usu fabulas luptatum efficiantur no. Cu mutat detracto vel, wisi etiam iudicabit duo eu.
            </p>
            
            <p class="text-faded"><strong>In solidarity,<br/>Timothy Kurtz<br/>Candidate for Unit Chair</strong></p>
                </div>
            </div>
        </div>
    </div>
</section>
