#the-team {
  padding-top: 60px;
  padding-bottom: 60px;

  .row {
    margin-bottom: 40px; /* space between pairs */
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    &:last-child {
      margin-bottom: 0;
    }
  }

  .col-md-6,
  .col-sm-12 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  img {
    max-height: 90%;
    max-width: 100%;
    object-fit: contain;
    margin: auto;
  }

  // Add some left padding on small screens so content isn't flush left
  @media (max-width: 760px) {
    .col-md-6,
    .col-sm-12 {
      padding-left: 15px;
      padding-right: 15px;
    }
  }
}
