<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  <!-- TODO make sure the nav order matches this order -->
  {% include candidates.html %}
  {% include vision.html %} 
  {% include candidates2.html %} 
  
  {% include issues.html %}
  {% include endorsements.html %}
  {% include vote.html %}

  {% include call-to-action.html %}
  {% include services.html %}
  {% include portfolio.html %}
  {% include aside.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>