<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body id="page-top">
  {% include nav.html %}
  {% include header.html %}
  <!-- TODO make sure the nav order matches this order -->
  <!-- {% include vision.html %}  -->
  {% include candidates-chair.html %}
  {% include candidates.html %} 
  <!-- {% include candidates-councilmembers.html %} -->
  <!-- {% include issues.html %} -->
  {% include endorsements.html %}
  {% include vote.html %}
  {% include contact.html %}
  {% include scripts.html %}
</body>

</html>